* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    background: palevioletred;
    color: white;
    width: 100vw;
}

main {
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.messageBoard {
    background: white;
    border-radius: 5px;
    margin: 80px auto 10px;
    padding: 20px;
    width: 75vw;
    align-content: center;
}

.gameCenter {
    background: darkgray;
    height: 65vh;
    width: 65vw;
    max-width: 65vh;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
    align-content: center;
    justify-content: center;
}

.gameArea {
    background: #f0f0f0;
    color: darkgray;
    font-size: 16vh;
    text-align: center;
}

.gameArea:hover {
    background: palevioletred;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: darkgray;
    width: 100vw;
    padding: 15px;
}

.button {
    border-radius: 5px;
    background: palevioletred;
    color: white;
    border: 0;
    padding: 5px 15px;
    font-size: 20px;
    float: right;
}

.button:hover {
    background: mediumvioletred;
    cursor: pointer;
}
